   1  : 1.58,
   0.1: 2.71,
  0.05: 3.84, 
  0.01: 6.63,
 0.005: 7.88, 
 0.001: 10.83

In [35]:
# 2.71 - 1.13

In [47]:
import pandas as pd
import numpy as np
from joblib import dump

from chi import square as cs

In [49]:
data = pd.read_excel("komentar/data_clean.xlsx")
komentar = data.komentar.tolist()
label = np.array(data.label.tolist())
y = label
data.tail()

,Unnamed: 0,nomer,label,komentar
4752,NaN,4752,spam,hay guys punya produk bagus banget buat tubuh ...
4753,NaN,4753,non spam,aliando jadi rem gitu iih
4754,NaN,4754,non spam,gak main film aja sih sama raffi jadi pasang k...
4755,NaN,4755,spam,kkk uu r tkk gt kkk uu ks tss sr gg rr kk rukk...
4756,NaN,4756,non spam,film rillis tgl teh fan ily from 3800ft sama k...

# Ekstraksi dan Seleksi Fitur

In [50]:
sf = cs.ChiSquare(alpha = 0.1)
sf.find_best_features(komentar, label, fitur = None)

In [51]:
print("jumlah fitur terbaik:",len(sf.best_features),"dari",len(sf.fitur), "fitur")
best_features = sf.best_features

jumlah fitur terbaik: 2442 dari 14058 fitur

# Pemodelan

## TF-IDF

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(vocabulary = best_features)#
X = vectorizer.fit_transform(komentar)
save = vectorizer.fit(komentar)
dump(save, "model/tfidf.w")
# print(vectorizer.get_feature_names())
fitur = vectorizer.get_feature_names()
print(X.shape)

(4757, 2442)

## Pemodelan MNB

In [53]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()

# Pemodelan dan Validasi Model

In [54]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score

skf = StratifiedKFold(n_splits=10)
skf.get_n_splits(X, y)

start = 0.001
stop = 1
step = start
alpha_list = np.arange(start,stop+step,step)
# print(alpha_list)
akurasi = list()

ix = 0 #just counter
for alpha in alpha_list:
    clf.set_params(alpha=alpha)
    temp_akurasi = list()
    for train_index, test_index in skf.split(X, y):
    #     print("TRAIN:", train_index, "TEST:", test_index)
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y[train_index], y[test_index]
        
        #latih model
        clf.fit(X_train,y_train)
        
        #prediksi
        y_pred = clf.predict(X_test)
        temp_akurasi.append(accuracy_score(y_test, y_pred))
    rerata_akurasi = sum(temp_akurasi)/len(temp_akurasi)
    akurasi.append(rerata_akurasi)
#     print('alpha   :',alpha)
#     print('     akurasi :',rerata_akurasi)
#     print("="*100)
    ix +=1
    if ix%100 !=0:
        print(".", end="")
    else:
#         print(alpha, ' | ', rerata_akurasi)
        print("")

        pass

ditt = {
    "alpha":alpha_list,
    "akurasi":akurasi
}
index = akurasi.index(max(akurasi))
acc = pd.DataFrame.from_dict(ditt)
acc

...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................

     alpha   akurasi
0    0.001  0.933797
1    0.002  0.934007
2    0.003  0.934008
3    0.004  0.933798
4    0.005  0.933587
5    0.006  0.934008
6    0.007  0.934429
7    0.008  0.934850
8    0.009  0.934850
9    0.010  0.934850
10   0.011  0.934219
11   0.012  0.934219
12   0.013  0.934430
13   0.014  0.934640
14   0.015  0.934640
15   0.016  0.934850
16   0.017  0.934850
17   0.018  0.935060
18   0.019  0.935271
19   0.020  0.935271
20   0.021  0.935271
21   0.022  0.935481
22   0.023  0.935481
23   0.024  0.935481
24   0.025  0.935271
25   0.026  0.935271
26   0.027  0.935271
27   0.028  0.935061
28   0.029  0.935061
29   0.030  0.935061
..     ...       ...
970  0.971  0.932541
971  0.972  0.932541
972  0.973  0.932541
973  0.974  0.932541
974  0.975  0.932541
975  0.976  0.932331
976  0.977  0.932331
977  0.978  0.932331
978  0.979  0.932331
979  0.980  0.932331
980  0.981  0.932331
981  0.982  0.932331
982  0.983  0.932331
983  0.984  0.932331
984  0.985  0.932331
985  0.986  0.932331
986  0.987  0.932331
987  0.988  0.932331
988  0.989  0.932331
989  0.990  0.932331
990  0.991  0.932331
991  0.992  0.932331
992  0.993  0.932331
993  0.994  0.932331
994  0.995  0.932331
995  0.996  0.932331
996  0.997  0.932331
997  0.998  0.932331
998  0.999  0.932331
999  1.000  0.932331

[1000 rows x 2 columns]

In [55]:
print(alpha_list[index])
print(akurasi[index])

0.051000000000000004
0.9354828905411885

In [45]:
print(alpha_list[index])
print(akurasi[index])

0.022000000000000002
0.9315870754317077

# Menyimpan Model

In [56]:
clf.set_params(alpha=alpha_list[index])
clf.fit(X, y)
dump(clf, "model/mnb.m")

['model/mnb.m']